* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__object {
    width: 500px;
    height: 700px;
}

.img__mijo {
    margin-top: 100px;
}